body {
    max-width: 680px;
    margin: 40px auto;
    padding: 0 16px;
    font-family: "Microsoft YaHei", "PingFang SC", sans-serif;
    color: #333;
    line-height: 1.8;
    font-size: 16px;
}


img {
    max-width: 100%;
}

p {
    margin: 0 0 lem 0;
}